    /*
    Flaticon icon font: Flaticon
    Creation date: 27/01/2018 17:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-search:before { content: "\f100"; }
.flaticon-holidays:before { content: "\f101"; }
.flaticon-tool:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-flag:before { content: "\f106"; }
.flaticon-close:before { content: "\f107"; }
.flaticon-multimedia:before { content: "\f108"; }
.flaticon-interface:before { content: "\f109"; }
.flaticon-chain:before { content: "\f10a"; }
.flaticon-people:before { content: "\f10b"; }
.flaticon-list-3:before { content: "\f10c"; }
.flaticon-list-2:before { content: "\f10d"; }
.flaticon-list-1:before { content: "\f10e"; }
.flaticon-list:before { content: "\f10f"; }
    
    $font-Flaticon-search: "\f100";
    $font-Flaticon-holidays: "\f101";
    $font-Flaticon-tool: "\f102";
    $font-Flaticon-arrows-2: "\f103";
    $font-Flaticon-arrows: "\f104";
    $font-Flaticon-arrows-1: "\f105";
    $font-Flaticon-flag: "\f106";
    $font-Flaticon-close: "\f107";
    $font-Flaticon-multimedia: "\f108";
    $font-Flaticon-interface: "\f109";
    $font-Flaticon-chain: "\f10a";
    $font-Flaticon-people: "\f10b";
    $font-Flaticon-list-3: "\f10c";
    $font-Flaticon-list-2: "\f10d";
    $font-Flaticon-list-1: "\f10e";
    $font-Flaticon-list: "\f10f";